# Pandas: 
### - Calling APIs using Python

<strong> <h2> Run The Following Code </h2> </strong>

Hit SHIFT + ENTER when your cusor is inside the cell of code.<br/>

> Import the packages

In [1]:
import pandas as pd
import requests

## Calling API Example 1

> 1. Open this url in your browser: https://data.gov.sg/dataset/list-of-government-markets-hawker-centres
> 2. Click on the "Data API" button on top rigth corner to see resource_id for this dataset
> 3. Use **requests** package to call this API and get all first 5 rows of data

In [2]:
# Option A - Manually construct the request URL
url_full = 'https://data.gov.sg/api/action/datastore_search?resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d&limit=5'

response = requests.get(url_full)

In [3]:
# Option B - (Recommneded) passing a dictionary to .get() method in requests to construct the request url
url_base = 'https://data.gov.sg/api/action/datastore_search'

parameters = {
    'resource_id' : '8f6bba57-19fc-4f36-8dcf-c0bda382364d',
    'limit': '5'
}
response = requests.get(url_base, params=parameters)

In [4]:
# Check the url that sent to the API server
response.url

'https://data.gov.sg/api/action/datastore_search?resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d&limit=5'

In [5]:
# Check the status of the request
response.status_code

200

In [6]:
# View the json text returned by the API server
response_dict = response.json()
response_dict

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search',
 'success': True,
 'result': {'resource_id': '8f6bba57-19fc-4f36-8dcf-c0bda382364d',
  'fields': [{'type': 'int4', 'id': '_id'},
   {'type': 'text', 'id': 'name_of_centre'},
   {'type': 'text', 'id': 'location_of_centre'},
   {'type': 'text', 'id': 'type_of_centre'},
   {'type': 'text', 'id': 'owner'},
   {'type': 'numeric', 'id': 'no_of_stalls'},
   {'type': 'numeric', 'id': 'no_of_cooked_food_stalls'},
   {'type': 'numeric', 'id': 'no_of_mkt_produce_stalls'}],
  'records': [{'location_of_centre': '2, Adam Road, S(289876)',
    'no_of_cooked_food_stalls': '32',
    'no_of_mkt_produce_stalls': '0',
    'name_of_centre': 'Adam Road Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '32',
    'owner': 'Government',
    '_id': 1},
   {'location_of_centre': 'National Development Building, Annex B, Telok Ayer Street, S(069111)',
    'no_of_cooked_food_stalls': '134',
    'no_of_mkt_produce_stalls': '1',
    'name_of_centre': 'Amoy Street Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '135',
    'owner': 'Government',
    '_id': 2},
   {'location_of_centre': '1, Bedok Road, S(469572)',
    'no_of_cooked_food_stalls': '32',
    'no_of_mkt_produce_stalls': '0',
    'name_of_centre': 'Bedok Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '32',
    'owner': 'Government',
    '_id': 3},
   {'location_of_centre': '38A, Beo Crescent, S(169982)',
    'no_of_cooked_food_stalls': '32',
    'no_of_mkt_produce_stalls': '62',
    'name_of_centre': 'Beo Crescent Market',
    'type_of_centre': 'MHC',
    'no_of_stalls': '94',
    'owner': 'Government',
    '_id': 4},
   {'location_of_centre': '166, Jalan Besar, S(208877)',
    'no_of_cooked_food_stalls': '66',
    'no_of_mkt_produce_stalls': '0',
    'name_of_centre': 'Berseh Food Centre',
    'type_of_centre': 'HC',
    'no_of_stalls': '66',
    'owner': 'Government',
    '_id': 5}],
  '_links': {'start': '/api/action/datastore_search?limit=5&resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d',
   'next': '/api/action/datastore_search?offset=5&limit=5&resource_id=8f6bba57-19fc-4f36-8dcf-c0bda382364d'},
  'limit': 5,
  'total': 107}}

> The json text above is a nested-dictionary <br>
> Picture below shows the structure in a visual form

> ![](hawker_structure.png)

In [7]:
# Traverse the dictionary to the level where the main records are located
response_dict['result']['total']

107

In [8]:
# Traverse the dictionary to the level where the main records are located
records = response_dict['result']['records']
records

[{'location_of_centre': '2, Adam Road, S(289876)',
  'no_of_cooked_food_stalls': '32',
  'no_of_mkt_produce_stalls': '0',
  'name_of_centre': 'Adam Road Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '32',
  'owner': 'Government',
  '_id': 1},
 {'location_of_centre': 'National Development Building, Annex B, Telok Ayer Street, S(069111)',
  'no_of_cooked_food_stalls': '134',
  'no_of_mkt_produce_stalls': '1',
  'name_of_centre': 'Amoy Street Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '135',
  'owner': 'Government',
  '_id': 2},
 {'location_of_centre': '1, Bedok Road, S(469572)',
  'no_of_cooked_food_stalls': '32',
  'no_of_mkt_produce_stalls': '0',
  'name_of_centre': 'Bedok Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '32',
  'owner': 'Government',
  '_id': 3},
 {'location_of_centre': '38A, Beo Crescent, S(169982)',
  'no_of_cooked_food_stalls': '32',
  'no_of_mkt_produce_stalls': '62',
  'name_of_centre': 'Beo Crescent Market',
  'type_of_centre': 'MHC',
  'no_of_stalls': '94',
  'owner': 'Government',
  '_id': 4},
 {'location_of_centre': '166, Jalan Besar, S(208877)',
  'no_of_cooked_food_stalls': '66',
  'no_of_mkt_produce_stalls': '0',
  'name_of_centre': 'Berseh Food Centre',
  'type_of_centre': 'HC',
  'no_of_stalls': '66',
  'owner': 'Government',
  '_id': 5}]

In [9]:
# Check the number of records
len(records)

5

In [10]:
# Use .json_normalize from Pandas to convert the dictionary into a DataFrame
pd.json_normalize(records)

,location_of_centre,no_of_cooked_food_stalls,no_of_mkt_produce_stalls,name_of_centre,type_of_centre,no_of_stalls,owner,_id
0,"2, Adam Road, S(289876)",32,0,Adam Road Food Centre,HC,32,Government,1
1,"National Development Building, Annex B, Telok ...",134,1,Amoy Street Food Centre,HC,135,Government,2
2,"1, Bedok Road, S(469572)",32,0,Bedok Food Centre,HC,32,Government,3
3,"38A, Beo Crescent, S(169982)",32,62,Beo Crescent Market,MHC,94,Government,4
4,"166, Jalan Besar, S(208877)",66,0,Berseh Food Centre,HC,66,Government,5

In [11]:
# Use .json_normalize from Pandas to convert the dictionary into a DataFrame 
# Store into a variable called "df_hawker"
df_hawker = pd.json_normalize(records)

## Calling API Example 2: with Parameters

> 1. Open this url in your browser: https://www.onemap.gov.sg/docs/#onemap-rest-apis
> 2. Understand the parameters (required and optional) of the "search" endpoint from OneMap API
> 3. Use **requests** package to call this API and get all first 5 rows of data

> ![apiexp](onemap_search.png)

In [12]:
# Try to call the API (Case-sensitive Parameters not match)

url_base = 'https://developers.onemap.sg/commonapi/search'

parameters = {
    'searchval' : 'Adam Road Food Centre',
    'returngeom': 'Y',
    'getAddrDetails': 'Y'
}
response = requests.get(url_base, params=parameters)
response.status_code

400

In [13]:
# Try to call the API (Required Parameters not provided)

url_base = 'https://developers.onemap.sg/commonapi/search'

parameters = {
    'searchval' : 'Adam Road Food Centre',
}
response = requests.get(url_base, params=parameters)
response.status_code

400

In [14]:
# Try to call the API (Correctly)

url_base = 'https://developers.onemap.sg/commonapi/search'

parameters = {
    'searchVal' : 'Adam Road Food Centre',
    'returnGeom': 'Y',
    'getAddrDetails': 'Y'
}
response = requests.get(url_base, params=parameters)
response.status_code

200

In [15]:
# View the json text returned by the server
response.json()

{'found': 1,
 'totalNumPages': 1,
 'pageNum': 1,
 'results': [{'SEARCHVAL': 'ADAM ROAD FOOD CENTRE',
   'BLK_NO': '2',
   'ROAD_NAME': 'ADAM ROAD',
   'BUILDING': 'ADAM ROAD FOOD CENTRE',
   'ADDRESS': '2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 289876',
   'POSTAL': '289876',
   'X': '25870.3018411137',
   'Y': '34035.8644314632',
   'LATITUDE': '1.3240827139625',
   'LONGITUDE': '103.814182099841',
   'LONGTITUDE': '103.814182099841'}]}

In [16]:
# Use .json_normalize from Pandas to convert the dictionary into a DataFrame 
pd.json_normalize(response.json()['results'])

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,ADAM ROAD FOOD CENTRE,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876,25870.3018411137,34035.8644314632,1.3240827139625,103.814182099841,103.814182099841

> 1. Loop through the **df_hawker** and find the geoinfo of each hawker from OneMap's SEARCH endpoint
> 2. Store all the geoinfo as a new DataFrame

In [17]:
df_hawker_geoinfo = []

for row_index, row in df_hawker.iterrows():
    # Create a dictionary of the parameters
    parameters = {
        'searchVal' : row['name_of_centre'],
        'returnGeom': 'Y',
        'getAddrDetails': 'Y'
    }

    # Send the request via .get() method
    response = requests.get(url_base, params=parameters)

    # Check if the request is successful
    if response.status_code == 200:
        response_dict = response.json()
        # Check if there is at least 1 record
        if len(response_dict['results']) > 0:
            df_temp = pd.json_normalize(response_dict['results'])
            df_hawker_geoinfo.append(df_temp)
    else:
        print('The request failed and returned status code:' + str(response.status_code))

In [18]:
# Concatenate the records stored in multiple DataFrames into a single DataFrame
df_hawker_geoinfo = pd.concat(df_hawker_geoinfo, axis=0, ignore_index=True)
df_hawker_geoinfo

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
0,ADAM ROAD FOOD CENTRE,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876,25870.3018411137,34035.8644314632,1.3240827139625,103.814182099841,103.814182099841
1,AMOY STREET FOOD CENTRE,7,MAXWELL ROAD,AMOY STREET FOOD CENTRE,7 MAXWELL ROAD AMOY STREET FOOD CENTRE SINGAPO...,069111,29483.955767219,29088.4261356071,1.2793398636571,103.846652482254,103.846652482254
2,BEDOK FOOD CENTRE,1,BEDOK ROAD,BEDOK FOOD CENTRE,1 BEDOK ROAD BEDOK FOOD CENTRE SINGAPORE 469572,469572,41595.4345044643,33623.132626934,1.32034716834128,103.955480570427,103.955480570427
3,BEO CRESCENT MARKET,38A,BEO CRESCENT,BEO CRESCENT MARKET,38A BEO CRESCENT BEO CRESCENT MARKET SINGAPORE...,169982,27336.1809281698,30137.891893005,1.28883089150258,103.827353892228,103.827353892228
4,BERSEH FOOD CENTRE,166,JALAN BESAR,BERSEH FOOD CENTRE,166 JALAN BESAR BERSEH FOOD CENTRE SINGAPORE 2...,208877,30623.1448179465,32184.9996254593,1.30734410946371,103.856888783769,103.856888783769

# !! Your Turn !!

## Replace the code marked as <..> COMPLETELY with your own.
- The placeholder <..> is meant to be guidance for your answer.
- It should not be restricting your solutions for the questions.
- Feel free to add more lines or use less lines,
- One placeholder does not mean that you can only insert one line of codes.

# Question 1
> - Continue from the **df_hawker** and **df_hawker_geoinfo**, produce a new DataFrame **df_hawker_center**, <br>
> where each row is a unique hawker center with all the columns both **df_hawker** and **df_hawker_geoinfo**
> - The four columns "X", "Y", "LONGTITUDE", and "_id" must be excluded in the **df_hawker_center**
> - Change all the column names into lower case

In [21]:
df_hawker_geoinfo.rename(columns={'SEARCHVAL': 'name_of_centre'}, inplace=True)

df_hawker_geoinfo['name_of_centre'] = df_hawker_geoinfo['name_of_centre'].str.title()

df_hawker_center = pd.merge(df_hawker, df_hawker_geoinfo, 'left', 'name_of_centre')

df_hawker_center.drop(['X', 'Y', 'LONGTITUDE', '_id'], axis=1, inplace=True)

df_hawker_center

,location_of_centre,no_of_cooked_food_stalls,no_of_mkt_produce_stalls,name_of_centre,type_of_centre,no_of_stalls,owner,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,LATITUDE,LONGITUDE
0,"2, Adam Road, S(289876)",32,0,Adam Road Food Centre,HC,32,Government,2,ADAM ROAD,ADAM ROAD FOOD CENTRE,2 ADAM ROAD ADAM ROAD FOOD CENTRE SINGAPORE 28...,289876,1.3240827139625,103.814182099841
1,"National Development Building, Annex B, Telok ...",134,1,Amoy Street Food Centre,HC,135,Government,7,MAXWELL ROAD,AMOY STREET FOOD CENTRE,7 MAXWELL ROAD AMOY STREET FOOD CENTRE SINGAPO...,069111,1.2793398636571,103.846652482254
2,"1, Bedok Road, S(469572)",32,0,Bedok Food Centre,HC,32,Government,1,BEDOK ROAD,BEDOK FOOD CENTRE,1 BEDOK ROAD BEDOK FOOD CENTRE SINGAPORE 469572,469572,1.32034716834128,103.955480570427
3,"38A, Beo Crescent, S(169982)",32,62,Beo Crescent Market,MHC,94,Government,38A,BEO CRESCENT,BEO CRESCENT MARKET,38A BEO CRESCENT BEO CRESCENT MARKET SINGAPORE...,169982,1.28883089150258,103.827353892228
4,"166, Jalan Besar, S(208877)",66,0,Berseh Food Centre,HC,66,Government,166,JALAN BESAR,BERSEH FOOD CENTRE,166 JALAN BESAR BERSEH FOOD CENTRE SINGAPORE 2...,208877,1.30734410946371,103.856888783769

In [22]:
# Alternative A:
column_names_old = df_hawker_center.columns

column_names_new = []
for col in column_names_old:
    column_names_new.append(col.lower())

df_hawker_center.columns = column_names_new

In [23]:
# Alternative B: (using list comprehension)
df_hawker_center.columns = [c.lower() for c in df_hawker_center.columns]

# Question 2

> Part A) <br>
> Store the first 100 records from the CSV file located at **data > 0_raw_data > MRT.csv** into a DataFrame, called **df_mrt_subset**

In [7]:
# Alternative A
df_mrt_subset = pd.read_csv('data/0_raw_data/MRT.csv')
df_mrt_subset = df_mrt_subset.iloc[:100]

# Alternative B
#df_mrt_subset = pd.read_excel('data/0_raw_data/hdb_postal_to_stations.xlsx', nrows=200)

In [8]:
df_mrt_subset

   Type  postal     Station Name
0   MRT  609690      Jurong East
1   MRT  659958      Bukit Batok
2   MRT  659083     Bukit Gombak
3   MRT  689810    Choa Chu Kang
4   MRT  689715          Yew Tee
..  ...     ...              ...
95  MRT  278995  Holland Village
96  MRT  139345      Buona Vista
97  MRT  138647        one-north
98  MRT  118177       Kent Ridge
99  MRT  117396    Haw Par Villa

[100 rows x 3 columns]

> Part B) <br>
> - Retrieve the geoinfo using OneMap's API Endpoint 'https://developers.onemap.sg/commonapi/search', <br>
> using the postal codes of the MRT stations
> - Store the geoinfo for the MRT stations' postal code into DataFrame **df_mrt_geoinfo** <br>
> 💡Hint: You might need to the remove the decimal point at the end of each postal code if it exists

In [12]:
df_mrt_geoinfo = []

for row_index, row in df_mrt_subset.iterrows():
    # Create a dictionary of the parameters
    parameters = {
        'searchVal' : row['postal'],
        'returnGeom': 'Y',
        'getAddrDetails': 'Y'
    }

    url_base = 'https://developers.onemap.sg/commonapi/search'
    # Send the request via .get() method
    response = requests.get(url_base, params=parameters)

    # Check if the request is successful
    if response.status_code == 200:
        response_dict = response.json()
        # Check if there is at least 1 record
        if len(response_dict['results']) > 0:
            df_temp = pd.json_normalize(response_dict['results'])
            df_mrt_geoinfo.append(df_temp)
    else:
        print('The request failed and returned status code:' + str(response.status_code))

In [13]:
df_mrt_geoinfo = pd.concat(df_mrt_geoinfo, axis=0, ignore_index=True)

In [17]:
df_mrt_geoinfo[df_mrt_geoinfo.BUILDING.str.contains('\(')]

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE
4,JURONG EAST MRT STATION (EW24 / NS1),10,JURONG EAST STREET 12,JURONG EAST MRT STATION (EW24 / NS1),10 JURONG EAST STREET 12 JURONG EAST MRT STATI...,609690,17869.0570516568,35038.9688695427,1.33315281585758,103.742286332403,103.742286332403
10,BUKIT BATOK MRT STATION (NS2),10,BUKIT BATOK CENTRAL,BUKIT BATOK MRT STATION (NS2),10 BUKIT BATOK CENTRAL BUKIT BATOK MRT STATION...,659958,18679.3223191258,36794.9260214306,1.34903331201636,103.749566478309,103.749566478309
15,BUKIT GOMBAK MRT STATION (NS3),802,BUKIT BATOK WEST AVENUE 5,BUKIT GOMBAK MRT STATION (NS3),802 BUKIT BATOK WEST AVENUE 5 BUKIT GOMBAK MRT...,659083,18926.9127006577,37854.0358848721,1.35861159094192,103.751790910733,103.751790910733
19,CHOA CHU KANG MRT STATION (NS4),10,CHOA CHU KANG AVENUE 4,CHOA CHU KANG MRT STATION (NS4),10 CHOA CHU KANG AVENUE 4 CHOA CHU KANG MRT ST...,689810,18101.2472041463,40812.1216052417,1.38536316540225,103.744370779756,103.744370779756
27,YEW TEE MRT STATION (NS5),61,CHOA CHU KANG DRIVE,YEW TEE MRT STATION (NS5),61 CHOA CHU KANG DRIVE YEW TEE MRT STATION (NS...,689715,18438.9831173802,42158.0181021616,1.39753506936297,103.747405150236,103.747405150236
...,...,...,...,...,...,...,...,...,...,...,...
449,HOLLAND VILLAGE MRT STATION (CC21),200,HOLLAND AVENUE,HOLLAND VILLAGE MRT STATION (CC21),200 HOLLAND AVENUE HOLLAND VILLAGE MRT STATION...,278995,23891.2152273953,32726.4128267691,1.31224029631595,103.796399122407,103.796399122407
455,BUONA VISTA MRT STATION (EW21),100,NORTH BUONA VISTA ROAD,BUONA VISTA MRT STATION (EW21),100 NORTH BUONA VISTA ROAD BUONA VISTA MRT STA...,139345,23207.2578019593,32171.7150982097,1.3072237082044,103.790253514502,103.790253514502
459,ONE-NORTH MRT STATION (CC23),9,AYER RAJAH AVENUE,ONE-NORTH MRT STATION (CC23),9 AYER RAJAH AVENUE ONE-NORTH MRT STATION (CC2...,138647,22896.0728127016,31346.4080956969,1.29975987493555,103.78745750525,103.78745750525
463,KENT RIDGE MRT STATION (CC24),301,SOUTH BUONA VISTA ROAD,KENT RIDGE MRT STATION (CC24),301 SOUTH BUONA VISTA ROAD KENT RIDGE MRT STAT...,118177,22575.0107144611,30657.9332947638,1.29353349887123,103.784572738173,103.784572738173
467,HAW PAR VILLA MRT STATION (CC25),270,PASIR PANJANG ROAD,HAW PAR VILLA MRT STATION (CC25),270 PASIR PANJANG ROAD HAW PAR VILLA MRT STATI...,117396,22261.1431040755,29445.802035436,1.28257135772488,103.781752725064,103.781752725064

# Question 3

> Part A) <br>
> - Download all the records for HDB carpark info from the API https://data.gov.sg/dataset/hdb-carpark-information
> - Store the records into a DataFrame, called **df_carpark**

In [37]:

url_base = 'https://data.gov.sg/api/action/datastore_search'

parameters = {
    'resource_id' : '139a3035-e624-4f56-b63f-89ae28d4ae4c',
}

response = requests.get(url_base, params=parameters)
response.status_code

200

In [38]:
response_dict = response.json()
records = response_dict['result']['records']
df_carparks = pd.json_normalize(records)

> Part B)** - Challenging Question [Optional] <br>
> - Check the number of records in **df_carpark**
> - You will realize the total records on data.gov.sg is 2,183 records, but **df_carpark**only has 100 records
> - This is because it's common for API return a "page" of results per call. In this case, the API returns 100 records per page.
> - If you check *response.json()['result']['_links']*, you will see there are two links, the "next" link shows how to retrieve the next 100 records
> - Find a way to download all 2,183 records and store into the dataframe **df_carparks**

> hint: you can use anything that you have learnt so far to achieve this

In [39]:
response.json()['result']['_links']

{'start': '/api/action/datastore_search?resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c',
 'next': '/api/action/datastore_search?offset=100&resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c'}

In [40]:
# Do note that this is only one of the many solutions to this task

df_carparks = []
next_link = ''
total_records = 2183


while len(df_carparks) < total_records:
    # Notice the url is shorterned, this is because the 'next url' returned by the API
    # already has the '/api/action/datastore_search'.
    url = 'https://data.gov.sg'
    
    if len(df_carparks) == 0:
        #only the first request will use the basic url
        url = url + '/api/action/datastore_search?resource_id=139a3035-e624-4f56-b63f-89ae28d4ae4c'
    else:
        # only the first request will use the basic url
        url = url + next_link

    # Make a request to the API server
    response = requests.get(url)


    if response.status_code == 200
        # store the next_link into a variable, to be used in next iteration
        next_link = response.json()['result']['_links']['next']

        # traverse down the nested-dictionary to get the records
        response_dict = response.json()
        records = response_dict['result']['records']

        if len(df_carparks) == 0:
            # only run this during the first request
            df_carparks = pd.json_normalize(records)
        else:
            # subsequent request, the dataframe is append to the existing dataframe
            df_temp = pd.json_normalize(records)
            df_carparks = pd.concat([df_carparks, df_temp], axis=0, ignore_index=True)

In [41]:
len(df_carparks)

2183