# Graduation CheckPoint: <br>    Part 2 - Machine Learning
---

---
⚠️**Notebook Instruction:**
- This is an open-book test. You may refer to previous notes or internet sources at any point during the test.
- You are forbidden to share or discuss any questions/solutions with other students.
- If you need to seek for any clarifications, you may privately message the trainers.  


- Feel free to insert additional cell(s) as you need.
- You may import any packages that you need. 
- You may create additional variables, columns, or object in this notebook to derive at your solution. 
- If not specifed, you may use any name for your variable or column.
- If any expected output is provided, you are ought to remove any additional columns that is not included in the expected output. Failure in doing so, will result in reduction of marks.
- Partial marks may be awarded for working cells even if the answer is incomplete or incorrect.


- See the end of this notebook for the **submission instruction**.
- ⬇️ Enter your name as a string in cell below.

---

In [ ]:
Name = "FILL YOUR NAME HERE"

In [ ]:
# pip come from pure python
!pip install pandas==1.3 (dependencies numpy)

dtale --> require pandas < 1.2

In [ ]:
# specific to Anaconda Python
# conda install more sophisticated, it check for compatbility 
# Very strict when come compatibility (run for very long and maynot allow you to install )
!conda install pandas

---

<!--TABLE OF CONTENTS-->
# Table of Contents:
- [Graduation CheckPoint: <br>    Part 2 - Machine Learning](#Graduation-CheckPoint:-<br>----Part-2---Machine-Learning)
- [0.0 Import Packages, Configure Notebook](#0.0-Import-Packages,-Configure-Notebook)
- [1.0 Loading Data](#1.0-Loading-Data)
  - [1.1 Loading HDB_Resales records](#1.1-Loading-HDB_Resales-records)
  - [1.2 Loading "Facilities_Distance" data](#1.2-Loading-"Facilities_Distance"-data)
  - [1.3 Loading "HDB Type Sold Count" data](#1.3-Loading-"HDB-Type-Sold-Count"-data)
- [2.0 Data Processing](#2.0-Data-Processing)
  - [2.1 Calculate Percentage of the Unit's Flat Type](#2.1-Calculate-Percentage-of-the-Unit's-Flat-Type)
  - [2.2 Comparing Floor Size to Average of the same Flat Type and Flat Model](#2.2-Comparing-Floor-Size-to-Average-of-the-same-Flat-Type-and-Flat-Model)
  - [2.2 Process and Merge "Facilities_Distance" data](#2.2-Process-and-Merge-"Facilities_Distance"-data)
- [3 Feature Engineering](#3-Feature-Engineering)
  - [3.1 Creating Dummy Variables](#3.1-Creating-Dummy-Variables)
- [4.0 Modeling](#4.0-Modeling)
  - [4.1 Specifying the Features and Splitting the Data](#4.1-Specifying-the-Features-and-Splitting-the-Data)
  - [4.2 Modeling Training and Testing](#4.2-Modeling-Training-and-Testing)
- [Bonus Question](#Bonus-Question)

---

# 0.0 Import Packages, Configure Notebook

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Settings for Matplotlib (& Seaborn)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Import libraries for charting
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Set the size of charts
plt.rc('figure', figsize=(16,9))
plt.style.use('fivethirtyeight')
sns.set_context(context={'figure.figsize': (16,9)})

# 1.0 Loading Data

## 1.1 Loading HDB_Resales records

⚠️ All raw data are in the **00_raw_data** folder

---

> Read the csv file **hdb_resale_with_info.csv** into a variable **df**.

In [3]:
df = pd.read_csv('../00_raw_data/hdb_resale_with_info.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133769 entries, 0 to 133768
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Tranc_Year             133769 non-null  int64
 1   Tranc_Month            133769 non-null  int64
 2   town                   133769 non-null  object
 3   flat_type              133769 non-null  object
 4   storey_range           133769 non-null  object
 5   floor_area_sqm         133769 non-null  float64
 6   flat_model             133769 non-null  object
 7   lease_commence_date    133769 non-null  int64
 8   resale_price           133769 non-null  float64
 9   storey_range_midpoint  133769 non-null  int64
 10  floor_area_sqft        133769 non-null  float64
 11  age_approx             133769 non-null  int64
 12  address                133769 non-null  object
 13  max_floor_lvl          133769 non-null  int64
 14  year_completed         133769 non-null  int64
 15  residential            133769 non-null  object
 16  commercial             133769 non-null  object
 17  storey_relative        133769 non-null  float64
 18  flat_type_numerized    133769 non-null  int64
dtypes: float64(4), int64(8), object(7)
memory usage: 19.4+ MB

In [5]:
# Display 10 random rows
df.sample(10)

,Tranc_Year,Tranc_Month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,storey_range_midpoint,floor_area_sqft,age_approx,address,max_floor_lvl,year_completed,residential,commercial,storey_relative,flat_type_numerized
133607,2021,4,PUNGGOL,3 ROOM,10 TO 12,68.0,Model A,2017,360000.0,11,731.9452,5,"122A, EDGEDALE PLAINS",17,2016,Y,Y,0.647059,3
87414,2019,5,YISHUN,4 ROOM,10 TO 12,105.0,Model A,1988,368000.0,11,1130.2095,35,"304, YISHUN CTRL",12,1986,Y,Y,0.916667,4
108929,2020,6,SEMBAWANG,5 ROOM,13 TO 15,110.0,Premium Apartment,2001,443000.0,14,1184.0290,22,"357B, ADMIRALTY DR",16,1999,Y,N,0.875000,5
82164,2019,3,BUKIT MERAH,3 ROOM,01 TO 03,88.0,Standard,1973,580000.0,2,947.2232,72,"33, LIM LIAK ST",4,1949,Y,N,0.500000,3
37847,2017,1,QUEENSTOWN,5 ROOM,19 TO 21,111.0,Improved,2003,800000.0,20,1194.7929,19,"18, DOVER CRES",30,2002,Y,N,0.666667,5
62331,2018,4,HOUGANG,3 ROOM,04 TO 06,67.0,New Generation,1983,280000.0,5,721.1813,39,"327, HOUGANG AVE 5",13,1982,Y,Y,0.384615,3
13661,2015,10,CHOA CHU KANG,EXECUTIVE,10 TO 12,144.0,Apartment,1995,550000.0,11,1550.0016,28,"530, CHOA CHU KANG ST 51",12,1993,Y,Y,0.916667,6
17654,2015,12,YISHUN,3 ROOM,04 TO 06,67.0,New Generation,1985,300000.0,5,721.1813,38,"734, YISHUN AVE 5",12,1983,Y,Y,0.416667,3
67931,2018,7,CLEMENTI,4 ROOM,07 TO 09,96.0,Model A,2013,650000.0,8,1033.3344,10,"417, CLEMENTI AVE 1",20,2011,Y,N,0.400000,4
38744,2017,2,JURONG WEST,5 ROOM,16 TO 18,110.0,Premium Apartment,2008,475000.0,17,1184.0290,20,"678C, JURONG WEST ST 64",16,2001,Y,N,1.062500,5

## 1.2 Loading "Facilities_Distance" data


> Read the csv file **hdb_facilities_distance.csv** into a variable **df_facility**

In [6]:
df_facility = pd.read_csv("../00_raw_data/hdb_facilities_distance.csv")

In [7]:
df_facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9175 entries, 0 to 9174
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   address                  9175 non-null   object
 1   mall_nearest_distance    9030 non-null   float64
 2   mall_within_500m         3592 non-null   float64
 3   mall_within_1km          7483 non-null   float64
 4   mall_within_2km          8947 non-null   float64
 5   hawker_nearest_distance  9175 non-null   float64
 6   hawker_within_500m       2996 non-null   float64
 7   hawker_within_1km        5353 non-null   float64
 8   hawker_within_2km        7418 non-null   float64
 9   hawker_food_stalls       9165 non-null   float64
 10  hawker_market_stalls     9165 non-null   float64
 11  mrt_nearest_distance     9175 non-null   float64
 12  mrt_within_500m          2883 non-null   float64
 13  mrt_within_1km           7046 non-null   float64
 14  mrt_within_2km           9077 non-null   float64
dtypes: float64(14), object(1)
memory usage: 1.1+ MB

In [8]:
df_facility.sample(10)

,address,mall_nearest_distance,mall_within_500m,mall_within_1km,mall_within_2km,hawker_nearest_distance,hawker_within_500m,hawker_within_1km,hawker_within_2km,hawker_food_stalls,hawker_market_stalls,mrt_nearest_distance,mrt_within_500m,mrt_within_1km,mrt_within_2km
4943,"425, CANBERRA RD",685.844240,NaN,1.0,2.0,2544.273498,NaN,NaN,NaN,43.0,0.0,608.478966,NaN,1.0,1.0
5990,"514, JURONG WEST ST 52",879.322878,NaN,1.0,3.0,378.727265,1.0,2.0,5.0,60.0,130.0,294.763036,1.0,1.0,3.0
5372,"459, YISHUN AVE 11",659.147675,NaN,1.0,3.0,453.766976,1.0,1.0,1.0,45.0,0.0,1539.963468,NaN,NaN,2.0
2679,"245, KIM KEAT LINK",1067.654611,NaN,NaN,6.0,468.547502,1.0,5.0,11.0,61.0,59.0,1027.800202,NaN,NaN,7.0
985,"137, POTONG PASIR AVE 3",376.047072,1.0,1.0,2.0,990.105618,NaN,1.0,9.0,61.0,59.0,450.251744,1.0,2.0,8.0
8244,"780C, WOODLANDS CRES",521.756560,NaN,1.0,3.0,996.630443,NaN,1.0,1.0,43.0,0.0,943.619592,NaN,1.0,2.0
4760,"413, PASIR RIS DR 6",641.571912,NaN,2.0,4.0,466.289774,1.0,1.0,1.0,42.0,0.0,693.586785,NaN,1.0,2.0
2336,"223, BISHAN ST 23",914.599528,NaN,1.0,3.0,633.393418,NaN,2.0,8.0,32.0,86.0,840.814121,NaN,2.0,6.0
8504,"82A, LOR 4 TOA PAYOH",468.349045,1.0,1.0,6.0,291.335264,3.0,6.0,8.0,28.0,32.0,404.196921,1.0,2.0,7.0
870,"130, RIVERVALE ST",367.408497,2.0,3.0,7.0,2717.105383,NaN,NaN,NaN,40.0,0.0,835.641715,NaN,1.0,3.0

## 1.3 Loading "HDB Type Sold Count" data

> Read the csv file **hdb_type_sold** into a variable **df_hdb_sold**

In [9]:
df_type_sold = pd.read_csv("../00_raw_data/hdb_type_sold.csv")

In [10]:
df_type_sold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9175 entries, 0 to 9174
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address               9175 non-null   object
 1   total_dwelling_units  9175 non-null   int64
 2   1 ROOM                9175 non-null   int64
 3   2 ROOM                9175 non-null   int64
 4   3 ROOM                9175 non-null   int64
 5   4 ROOM                9175 non-null   int64
 6   5 ROOM                9175 non-null   int64
 7   EXECUTIVE             9175 non-null   int64
 8   MULTI-GENERATION      9175 non-null   int64
 9   STUDIO                9175 non-null   int64
dtypes: int64(9), object(1)
memory usage: 716.9+ KB

In [11]:
df_type_sold.sample(10)

,address,total_dwelling_units,1 ROOM,2 ROOM,3 ROOM,4 ROOM,5 ROOM,EXECUTIVE,MULTI-GENERATION,STUDIO
4932,"452, CHOA CHU KANG AVE 4",60,0,0,0,45,15,0,0,0
3410,"121, SERANGOON NTH AVE 1",96,0,0,0,18,78,0,0,0
1324,"630, SENJA RD",234,0,0,0,122,112,0,0,0
2053,"657, JLN TENAGA",80,0,0,0,60,20,0,0,0
8499,"316B, YISHUN AVE 9",112,0,0,56,56,0,0,0,0
3693,"283, BT BATOK EAST AVE 3",106,0,0,85,19,2,0,0,0
6267,"24, NEW UPP CHANGI RD",156,0,0,130,26,0,0,0,0
6036,"354, CHOA CHU KANG CTRL",106,0,0,0,67,39,0,0,0
7272,"98, ALJUNIED CRES",150,0,0,146,0,4,0,0,0
2176,"533, BT PANJANG RING RD",121,0,0,0,56,65,0,0,0

# 2.0 Data Processing

## 2.1 Calculate Percentage of the Unit's Flat Type

> 🔷 **[ Question 2a ]** [8 marks] <br>
> Create a new column **flat_type_percent** in **df**, to store the percentage of the unit's flat_type over the **total_dwelling_units**.
>
> For example: If a row's **flat_type** is *3 ROOM*, we'll use number of **3 ROOM** sold (available in  **df_type_sold**) to be divided by the **total_dwelling_units** of the block.
>
> The top 10 rows of your **df** should look like this at the end of this question (screenshots shows columns starting the right-most column).
> ![](_resources/snap001.png)

In [12]:
df = df.merge(df_type_sold, 'left', 'address')

In [13]:
def get_type_percent(row):
    flat_type = row['flat_type']
    return row[flat_type] / row['total_dwelling_units']

In [14]:
df['flat_type_percent'] = df.apply(get_type_percent, axis=1)

In [15]:
df.head(10)

,Tranc_Year,Tranc_Month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,storey_range_midpoint,...,total_dwelling_units,1 ROOM,2 ROOM,3 ROOM,4 ROOM,5 ROOM,EXECUTIVE,MULTI-GENERATION,STUDIO,flat_type_percent
0,2015,1,ANG MO KIO,3 ROOM,07 TO 09,60.0,Improved,1986,255000.0,8,...,198,0,57,137,1,1,0,0,0,0.691919
1,2015,1,ANG MO KIO,3 ROOM,01 TO 03,68.0,New Generation,1981,275000.0,2,...,191,0,0,165,21,3,2,0,0,0.863874
2,2015,1,ANG MO KIO,3 ROOM,01 TO 03,69.0,New Generation,1980,285000.0,2,...,84,0,0,84,0,0,0,0,0,1.000000
3,2015,1,ANG MO KIO,3 ROOM,01 TO 03,68.0,New Generation,1979,290000.0,2,...,23,0,0,23,0,0,0,0,0,1.000000
4,2015,1,ANG MO KIO,3 ROOM,07 TO 09,68.0,New Generation,1980,290000.0,8,...,187,0,0,158,24,2,3,0,0,0.844920
5,2015,1,ANG MO KIO,3 ROOM,07 TO 09,67.0,New Generation,1980,290000.0,8,...,140,0,0,116,20,1,3,0,0,0.828571
6,2015,1,ANG MO KIO,3 ROOM,01 TO 03,68.0,New Generation,1980,290000.0,2,...,28,0,0,28,0,0,0,0,0,1.000000
7,2015,1,ANG MO KIO,3 ROOM,01 TO 03,68.0,New Generation,1981,293000.0,2,...,179,0,0,158,20,0,1,0,0,0.882682
8,2015,1,ANG MO KIO,3 ROOM,01 TO 03,67.0,New Generation,1978,300000.0,2,...,154,0,0,121,33,0,0,0,0,0.785714
9,2015,1,ANG MO KIO,3 ROOM,13 TO 15,68.0,New Generation,1985,307500.0,14,...,214,0,0,187,24,1,1,0,0,0.873832

> 🔷 **[ Question 2b ]** [2 marks] <br>
> Remove the columns below from the dataframe **df**. The column names have been stored in **cols_to_remove** for you.
>
> The **df** used in the rest of notebook should not contain these columns.

In [16]:
cols_to_remove = [
 '1 ROOM',
 '2 ROOM',
 '3 ROOM',
 '4 ROOM',
 '5 ROOM',
 'EXECUTIVE',
 'MULTI-GENERATION',
 'STUDIO'
]

In [17]:
df = df.drop(cols_to_remove, axis=1)

## 2.2 Comparing Floor Size to Average of the same Flat Type and Flat Model

> 🔷 **[ Question 2c ]** [8 marks] <br>
> Create a new column **diff_from_avg_sqft** in df, to store the difference between the each unit's **floor_size_sqft** and the average floor size of the same **flat_type**, **flat_model** in the dataset **df**.
>
> At the end of the question, your **df** should look like this:
> ![](_resources/snap002.png)

In [18]:
df_grouped = df.groupby(['flat_type', 'flat_model']).floor_area_sqft.mean().reset_index()

In [19]:
df_grouped.columns = ['flat_type', 'flat_model', 'avg_sqft']

In [ ]:
len(df) length before

In [20]:
df = df.merge(df_grouped, 'left', ['flat_type', 'flat_model'])

In [ ]:
len(df) length after

In [21]:
df['diff_from_avg_sqft'] = df['floor_area_sqft'] - df['avg_sqft']

## 2.2 Process and Merge "Facilities_Distance" data

> 🔷 **[ Question 2d ]** [2 marks] <br>
> **df_facility** contains missing values when there is no mall/hawker/mrt within the specified distance (e.g. mall_within_1km).
>
> Fill all these missing values with 0.

In [22]:
df_facility = df_facility.fillna(0)

> 🔷 **[ Question 2e ]** [2 marks] <br>
> Merge all the columns in **df_facility** into **df**, so that for each record in **df**, it will have the respective information from **df_facility**.

In [23]:
df = df.merge(df_facility, 'left', 'address')

In [26]:
df.to_csv("../01_processed_data/df_q3_start.csv", index=False)

# 3 Feature Engineering

⚠️ If you are unable to complete previous questions, read **df_q3_start.csv** from folder **"01_processed_data"** into the variable df before continue.

In [27]:
#optional: Load in data processed up to this point
df = pd.read_csv("../01_processed_data/df_q3_start.csv")

## 3.1 Creating Dummy Variables

> 🔷 **[ Question 3 ]** [5 marks] <br>
> Create dummy variables for **town** and **flat_model**. <br>
> Create a new dataframe **df_dataset** that combines all the columns in **df** with these dummy variables.

> If you're unable to complete previous questions, read **df_q3_start** from folder "01_processed_data" into the variable **df** before continue.

In [28]:
features_category = ['town', 'flat_model']

In [29]:
df_dummies = pd.get_dummies(df[features_category], drop_first=True)

In [30]:
df_dataset = pd.concat([df, df_dummies], axis=1, sort=False)

# 4.0 Modeling

⚠️ If you're unable to complete previous questions, read **df_q4_start** from folder **"01_processed_data"** into the variable df before continue.

In [32]:
#optional: Load in data processed up to this point
df_dataset = pd.read_csv("../01_processed_data/df_q4_start.csv")

## 4.1 Specifying the Features and Splitting the Data

In [33]:
from sklearn import model_selection
from sklearn import metrics

In [34]:
target = 'resale_price'

In [35]:
# The df_dummies below is a variable created in Section 3.1.
# Make sure you are using the same variable if you have used different variable name in Section 3.1
# Otherwise, you do not have to change the code below
features_dummies = list(df_dummies.columns)

In [36]:
features_numeric = [
    'Tranc_Year',
    'flat_type_numerized',
    'floor_area_sqft',
    'diff_from_avg_sqft',
    'storey_relative',
    'total_dwelling_units',
    'flat_type_percent',
    'age_approx',
    'mrt_nearest_distance',
    'mall_nearest_distance'
]

features = features_numeric + features_dummies

> 🔷 **[ Question 4a ]** [2 marks] <br>
> We will train our model based on the data before 2021 and test the model on data from 2021.<br>
> Split the **df_dataset** into **df_test** and **df_train**.

In [37]:
df_test = df_dataset[df_dataset['Tranc_Year'] == 2021] # Records from 2021
df_train = df_dataset[df_dataset['Tranc_Year'] < 2021] # Records from 2015 to 2020

In [38]:
# Execute this line, DO NOT Modify
df_train = df_train.sample(len(df_train), random_state=2021)

> 🔷 **[ Question 4b ]** [4 marks] <br>
> For each of the training set and testing set, split it into:
> - dataframe contains only the **features** for training
> - dataframe contains only the **target** for training
> - dataframe contains only the **features** for testing
> - dataframe contains only the **target** for testing

In [39]:
x_train = df_train[features]
y_train = df_train[target]
x_test = df_test[features]
y_test = df_test[target]

## 4.2 Modeling Training and Testing

In [40]:
# You're required to use LinearRegression for this section
from sklearn.linear_model import LinearRegression

> 🔷 **[ Question 4c ]** [5 marks] <br>
> Complete the 3 Key Steps: Instantiate, Train, and Predict
>
> You must use LinearRegression for this question.

In [41]:

# Instantiate the model 
model = LinearRegression()

# Train the model
model.fit(x_train, y_train)

# Generate predictions based on the test data set
predictions = model.predict(x_test)

> 🔷 **[ Question 4d ]** [2 marks] <br>
> Complete the following cells for calculate the Root Mean Square Error (RMSE).

In [42]:
# Validate the model
mse = metrics.mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

print("About 95% of these predictions are between -" + str(np.round(rmse*2, 2)) + " and " + str(np.round(rmse*2, 2))
      + " of actual resale values")

print("About 67% of these predictions are between -" + str(np.round(rmse, 2)) + " and " + str(np.round(rmse, 2))
      + " of actual resale values")

About 95% of these predictions are between -130620.05 and 130620.05 of actual resale values
About 67% of these predictions are between -65310.03 and 65310.03 of actual resale values

# Bonus Question

> 🔷 **[ Bonus Question ]** [5 Marks for Machine Learning part, Capped at 40 marks] <br>
> Create a model with more or different features, to predict **resale_price**, wtih the objective to **improve the model's RMSE** <br>
> - Use the same training and testing set from question 4. <br>
> - **MUST** use **Linear Regression** algorithm. <br>
> - You can create more cells wherever you need to. <br>

---
⚠️**IMPORTANT: Submission Instruction**

- Submit this notebook (.ipynb) on Padlet by uploading this file as an attachment.

In [ ]:
Name = "FILL YOUR NAME HERE"

---
## END OF CAPSTONE ASSIGNMENT

- Well done everyone!